@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@property --gradient-color-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #2d388a;
}

@property --gradient-color-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #00aeef;
}

@property --gradient-color-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: #00a99d;
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(-45deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition: --gradient-color-1 0.5s ease, --gradient-color-2 0.5s ease, --gradient-color-3 0.5s ease;
}

body.palestrantes-background-gradient {
  --gradient-color-1: #0052D4;
  --gradient-color-2: #4364F7;
  --gradient-color-3: #6FB1FC;
}

body.patrocinadores-background-gradient {
  --gradient-color-1: #FC354C;
  --gradient-color-2: #0ABFBC;
  --gradient-color-3: #0ABFBC;
}

body.local-background-gradient {
  --gradient-color-1: #5f2c82;
  --gradient-color-2: #3e6a9d;
  --gradient-color-3: #49a09d;
}

body.outros-anos-background-gradient {
  --gradient-color-1: #DC2424;
  --gradient-color-2: #7c4a9d;
  --gradient-color-3: #4A569D;
}

/* Animate blink */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Cursor */
.animate-blink {
  animation: blink 1s infinite;
}

.thin {
  font-weight: 300;
}

main {
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.outer {
  background: #b4b4b4;
  opacity: 0.9;   
  padding: 10px;
  border-radius: 7px 7px 0px 0px;
}

.outer.dark {
  background: #273138;
}

.outer.yosemite {
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #dadada));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #dadada 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dadada', GradientType=0);
  /* IE6-9 */
  border: 1px solid #d8d8d8;
  border-bottom: 1px solid #b4b4b4;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f9f9f9;
  border-radius: 50%;
  margin: 0 4px 0 0;
}

.dot.red {
  background: #ff6057;
  border: 1px solid #e14640;
}

.dot.amber {
  background: #ffbd2e;
  border: 1px solid #dfa123;
}

.dot.green {
  background: #27c93f;
  border: 1px solid #1dad2b;
}

.osx-content-darker {
  background: #3c4247;
  border: 1px solid #1f2927;
  border-radius: 0px 0px 7px 7px;
  padding: 10px;
  border-top: none;
}

.osx-content-blur {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 7px 7px;
  margin-top: -5px;
  padding: 10px;
}

.outer-blur {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  padding: 10px;
  color: #080808;
}

.background-blur {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  padding: 10px;
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  height: 10px;
}

.background-white {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  padding: 10px;
  transition: all 0.5s ease;
  opacity: 0;
  border-radius: 100%;
}

.overlay:hover {
  opacity: 1;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 150px;
}

.image-wrapper img {
  border-radius: 20px;
  width: 200px;
  height: 150px;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.image-wrapper img:hover {
  transform: scale(1.1);
}

.file-wrapper span {
  font-weight: 200;
  font-size: 14px;
}

.gallery-container {
  max-width: 1000px;
}

main, section {
  min-height: 100vh;
}

.section-description {
  max-width: 500px;
}

.icon {
  width: 50px;
  height: 50px;
}

.item-header {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.item-header:hover{
  transform: scale(1.1);
}

.section-padding {
  padding-top: 100px;
}

.iframe-map {
  width: 800px;
  height: 400px;
}

.zoom {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.zoom:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  main, section {
    min-height: auto;
  }
  .section-description {
    max-width: 100%;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .section-padding {
    padding-top: 0px
  }

  .iframe-map {
    width: 100%;
    height: 300px;
  }

}